@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans';
}

#wrapper {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: #283246;
    overflow: hidden;
    position: relative;
}

#map {
    position: absolute;
    left: 26%;
    height: 100%;
    width: 74%;
    z-index: 1;
}

#map_image {
    height: 100%;
    width: 100%;
    viewBox:
}

.conditions{
    color: white;
    padding-bottom: 15px;
    font-size: 120%;
}

#conditions_container {
    color: white;
    position: absolute;
    padding-right: 30px;
    padding-top: 30px;
    right: 0%;
    z-index: 2;
    opacity: 0.8;
}

.surf_spot {
    color: white;
    opacity: 0.8;
    font-size: 120%;
}

#ocean_beach {
    position: absolute;
    left: 47%;
    top: 51%;
    height: 30px;
    width: 75px;
}

#linda_mar {
    position: absolute;
    left: 48%;
    top: 91.5%;
    height: 30px;
    width: 75px;
}

#bolinas {
    position: absolute;
    left: 22%;
    top: 12%;
    height: 30px;
    width: 75px;
}

#fort_cronkite {
    position: absolute;
    left: 46.5%;
    top: 32%;
    height: 30px;
    width: 75px;
}

#fort_point {
    position: absolute;
    left: 54%;
    top: 37.5%;
    height: 30px;
    width: 75px;
}

#wind {
    position: relative;
    top: -5px;
}

#wind_icon {
    height: 25px;
    width: 25px;
    position: relative;
    top: 5px;
}

#tide_icon {
    position: relative;
    top: -1px;
    left: 5px;
}
