@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Oswald';
}

#wrapper {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: #283246;
    overflow: hidden;
    position: relative;
}

#map {
    position: absolute;
    left: 30%;
    height: 100%;
    width: 70%;
    z-index: 1;
}

#map_image {
    height: 100%;
    width: 100%;
    viewBox: 
}

.conditions {
    color: white;
}

.surf_spot {
    color: white;
}

#ocean_beach {
    position: absolute;
    left: 47%;
    top: 51%;
    height: 30px;
    width: 60px;
}

#linda_mar {
    position: absolute;
    left: 48%;
    top: 91.5%;
    height: 30px;
    width: 60px;
}

#bolinas {
    position: absolute;
    left: 21.5%;
    top: 13%;
    height: 30px;
    width: 60px;
}

#fort_cronkite {
    position: absolute;
    left: 46.5%;
    top: 32.5%;
    height: 30px;
    width: 60px;
}

#fort_point {
    position: absolute;
    left: 54%;
    top: 38%;
    height: 30px;
    width: 60px;
}

#wind_icon {
    height: 25px;
    width: 25px;
    position: relative;
    top: 5px;
}