<html>

    <head>
        <title>KK Surfreport 0.1</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
    </head>

    <body>
        <div>
            <p>{{ all_data[0].Surf.startDate_pretty_LOCAL }}</p>
            <p> add air temp and water temp here </p>
        </div>
        {% for spot in all_data %}
            <div style="color:#000050">
            <h2>{{ spot.name }}</h2>
            <p> surf range {{ spot.Analysis.surfRange[0] }} </p>
            <p> surf period {{ spot.Surf.swell_period1[0][surf_index]|round(1) }} seconds </p>
            <p> surf direction {{ spot.Surf.swell_direction1[0][surf_index] }} degrees </p>
            <p> wind speed {{ spot.Wind.wind_speed[0][surf_index*2+1]|round(1) }} kts </p>
            <p> wind direction {{ spot.Wind.wind_direction[0][wind_index] }} degrees </p>
            <p> current tide {{ spot.Tide.dataPoints[tide_index].height|round(1) }} ft </p>
            </div>
        {% endfor %}
    </body>

</html>